body {
  background-color: rgba(177, 221, 221, 0.911);
}

.header {
  /* height: 100px; */
  background-color: rgba(177, 221, 221, 0.911);
  text-align: middle;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: #5f7689;
  font-size: 20px;
}

.header-links {
  text-align: center;
}

.about {
  border: solid 1px red;
  color: rgb(103, 175, 175);

}

.btn-header {
  color: #ffffff;
  display: inline-block;
  background-color: rgb(90 98 207);
  padding: 4px 16px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 3px;
  border: solid 1px #5f7689;
  text-align: center;
  margin: 12px;
  padding-top: 4px;
}

.header .middle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  color: rgb(80, 179, 179);
  border: solid 1px red;
  text-shadow: 2px 2px #5f7689;
}