.header {
  height: 100px;
  background-color: teal;
  display: flex;
}

.header .left {
  width: 150px;
  background-color: red;
}

.header .middle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  padding: 10px;
}

.content {
  display: flex;
}

.content .left>div {
  width: 250px;
  background-color: red;
}

.content .middle {
  display: inline-block;
  background-color: aliceblue;
}

.column {
  display: inline-block;
  width: 100px;
}


.middle>h1 {}



.footer {}